html {
  background-image: url("https://media.giphy.com/media/oe33xf3B50fsc/giphy.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  }
  .Clicker {
  height: 20vw;
  max-height: 100%;
  width: 20vw;
  max-width: 100%;
  position: absolute;
  background-color: #c90c0c;
  border-radius: 50%;
  padding: 10px;
# /*background: url(./assets/button-image.png);*/
}
.Left {
  color: red;
  display: inline-block;
  width: 20vw;
  height: 95vh;
  border: 1px solid blue;
  position: absolute;
}
.Center {
  color: green;
  display: inline-block;
  width: 53vw;
  height: 95vh;
  margin-left: 22vw;
  border: 1px solid blue;
  position: absolute;
}
.Right {
  color: blue;
  display: inline-block;
  width: 20vw;
  height: 95vh;
  margin-left: 77vw;
  border: 1px solid blue;
  position: absolute;
}
.GameContainer {

}

.Text {
  text-wrap: break-word;
  text-align: center;

}
.Title {
  color: rgba(230, 230, 230)
}
.Panel {
  background-color: rgba(76,76,76);
}
.InventoryItem {
  padding-top: 5px;
  padding-left: 10%;
  padding-bottom: 5px;
  padding-right: 10%;
  margin-right: 2px;
  margin-left: 2px;
  border: 2px solid white;
  background-color: rgba(100,100,100)
}
.StoreItem {
  padding-top: 5px;
  padding-left: 10%;
  padding-bottom: 5px;
  padding-right: 10%;
  margin-right: 2px;
  margin-left: 2px;
  border: 2px solid white;
  background-color: rgba(100,100,100)
}
